{% extends "base.html" %}
{% load static %}

{% block title %}
Vocali
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div class="d-flex">
    {% include 'components/sidebar.html' %}

    <div style="flex: 0.8;">
        <div class="creator-detail" style="position: relative; background-color: #F5F8FA;">
            <div class="jumbotron">
                <img src="{{ creator.banner }}" class="creator-detail-banner" alt=""/>

                <div class="container d-block d-lg-flex justify-content-between align-items-center">
                    <div class="col-12 col-lg-8">
                        <div class="container user-info mt-4">
                            <div class="adv-info col-12">
                                <div class="bg-white border p-4 mb-4">
                                    <div class="d-flex">
                                        <img src="{{ creator.avatar }}" class="creator-detail-avatar" alt="">

                                        <div class="ms-5 w-100">
                                            <h3 class="fw-bold mb-3 d-flex align-items-center justify-content-between">
                                                <span>{{ creator.user.first_name }} {{ creator.user.last_name }}</span>
                                                <span class="text-muted">@{{ creator.user.username }}</span>
                                            </h3>

                                            <p class="fw-bold mt-2">{{ creator.bio }}</p>

                                            {% if user.profile.id != creator.id %}
                                            <div class="d-flex justify-content-between">
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#request-form-modal" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                                                    <span class="ms-1">Create Request</span>
                                                </button>

                                                <button class="btn btn-secondary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                                    <span class="ms-1">Leave review</span>
                                                </button>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="request-form-modal" tabindex="-1" aria-labelledby="request-form-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title fw-bold" id="request-form-modal-label">Request for <span class="text-primary">{{ creator.user.first_name }} {{ creator.user.last_name }}</span></h3>
          <h3 class="modal-title fw-bold">Price: <span class="text-success">${{ creator.price|floatformat:2 }}</span></h3>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="modal-body">
                {{ form|crispy }}
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Send request</button>
            </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
