<footer class="bg-primary d-md-flex text-md-start text-center d-block text-white justify-content-around align-items-center p-5">
    <div class="d-none d-md-block">
        <h6 class="fs-3">Join our mailing list</h6>
        <p>Be the first to know about the newest stars and <br/>best deals on Gublr</p>
        
        <form>
            <div class="d-flex">
                <div >
                    <input type="text" class="form-control" placeholder="Email address"/>
                </div>
            </div>

        </form>
    </div>

    <div>
        <h6 class="fs-5">Copyright &copy; 2021 - 2023</h6>
    </div>
</footer>
